body {
  background-color: rgb(0, 0, 0); /* Change background color to black */
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white; /* Ensure text is readable on the black background */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed from center to flex-start */
  min-height: 100vh;
  text-align: center;
}

.App-header {
  background-color: #1a5822;
  width: 100%; /* Added to make sure the header spans the full width */
  padding: 5px; /*  Added some padding for better spacing */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-header img {
  max-width: 100%;
  height: auto;
}

.App-header nav ul {
  list-style-type: none;
  padding: 50px;
  margin: 0; /* Remove default margin */
}

.App-header nav ul li {
  display: inline;
  margin: 10px 10px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8em; /* Adjusted font size to make the links smaller */
  padding: 5px 10px; /* Adjusted padding to make the links more compact */
}

.App-header nav ul li a:hover {
  text-decoration: underline;
  color: rgb(158, 158, 155); /* Change this to the desired hover color */
}

.App-link {
  color: #61dafb;
}

.welcome-button {
  background-color: #1a5822;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Raleway', sans-serif; /* Apply Raleway font to the button */
}